
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: rgb(82, 82, 91);
}

.maxWidth{
    max-width: 900px;
    min-width: 900px;
  }

  @layer components {
    .buttonsGroup {
      margin-top: 15px;
      margin-left: 14px;
    }
  .desc{
    max-width :
       200px
      
  }
  .content{
    width: 220px;
    height: 320px;
  }
  .description{
    margin-left: 14px;
    height: 200px; 
  }
  }
